Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [20]:
df = pd.read_csv('ratings.csv')

In [21]:
#df = df[df['rating'] == 5.0]
df = df[4.9 < df['rating']] #более правильный способ работы с float
res = df.groupby('movieId').agg({'userId': ['count']})
res.columns = res.columns.droplevel(0)
top_movie = res.sort_values(by='count').tail(1)
top_movie_id = top_movie.index.values[0]

movies_df = pd.read_csv('movies.csv')
#movies_df.head()
movies_df[movies_df['movieId'] == top_movie_id] #Answer: Shawshank Redemption, The (1994)

     movieId                             title       genres
315      318  Shawshank Redemption, The (1994)  Crime|Drama

Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [ ]:
import pandas as pd
import os
path = os.path.abspath('')
data_path = os.path.join(path, 'ml-latest-small')
data_baltic = pd.read_csv(os.path.join(data_path, 'power.csv'))
data_baltic = data_baltic[ (data_baltic['country']=='Lithuania') | (data_baltic['country']=='Latvia') \
                           | (data_baltic['country']=='Estonia')]
data_baltic = data_baltic[ (data_baltic['year'] >= 2005) | (data_baltic['year'] <= 2010)]
data_baltic = data_baltic[ (data_baltic['quantity'] >= 0) ]
data_baltic.head()
total = sum(data_baltic['quantity'])
print(total)

Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [1]:
import pandas as pd
import io
import requests

page = requests.get("https://fortrader.org/quotes")
table = pd.read_html(io.StringIO(page.content.decode('UTF-8')), flavor=['lxml'])
tbl = table[0]
tbl.drop(columns=['Time'], inplace=True)
tbl.head()

                               Type    Last  Chg.  Chg.%
0  Нефть (BRENT) Курс нефти сегодня  56.720   0.0    0.0
1   Нефть (WTI) Цены на нефть (WTI)  51.640   0.0    0.0
2          Сахар котировки на сахар  12.630   0.0    0.0
3                   Газ Цена на газ   1.835   0.0    0.0